.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background: rgba(15, 46, 33, 0.85);
  backdrop-filter: blur(8px);
  padding: 20px 0;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #C6A75E;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #C6A75E;
}

.nav-links a.active {
  color: #C6A75E;
}

.nav-btn {
  background: #C6A75E;
  padding: 10px 22px;
  border-radius: 30px;
  color: #0F2E21 !important;
  font-weight: 600;
}

.nav-btn:hover {
  background: #E2C275;
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Responsive */

@media(max-width: 768px){
  .nav-links {
    position: absolute;
    top: 80px;
    right: -100%;
    flex-direction: column;
    background: #0F2E21;
    width: 220px;
    padding: 30px;
    border-radius: 20px 0 0 20px;
    transition: 0.4s;
  }

  .nav-links.active {
    right: 0;
  }

  .menu-icon {
    display: block;
  }
}
